  <div class="jumbotron">
      <div class="container">

        <%# Main Section %>
        <div class="main">
          <h1>The portfolio is evolving...</h1>
          <p>Rapid e-commerce development.</p>
          <p>With great aesthetics too.</p>
          <p>Evolved tech stack.</p>
          <p>Backend: Ruby-on-Rails (RoR).</p>
          <p>Frontend: InertiaJS/React.</p>

          <a class="btn btn-default" href="#">View my Work</a>

          <form class="form-inline" role="form">
            <div class="form-group">
              <input type="text" class="form-control" id="search" placeholder="Browse the collection">
            </div>
            <button type="submit" class="btn btn-submit">Search</button>
          </form>
        </div>
      </div>
    </div>

    <div class="supporting">
      <div class="container">
        <h2>Browse the past projects.</h2>
        <p>Get a feel for our design choices.</p>

        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">

              <!-- Mountain peak -->
              <!-- Images at: public/images/  -->
              <img src="/images/mountain_peak.jpg" alt="Image of a mountain peak" />
            </div>
          </div>

          <div class="col-md-4">
            <div class="thumbnail">
              <!-- Harley -->
              <!-- Images at: public/images/  -->
              <img src="/images/harley.png" alt="Image of harley related americana" />
            </div>
          </div>

          <div class="col-md-4">
            <div class="thumbnail">
              <!-- Mountain road -->
              <!-- Images at: public/images/  -->
              <img src="/images/mountain_road.png" alt="Image of a mountain road" />
            </div>
          </div>

          <div class="col-md-4">
            <div class="thumbnail">
              <!-- Red dawn -->
              <!-- Images at: public/images/  -->
              <img src="/images/red_dawn.png" alt="Image of a red dawn"/>
            </div>
          </div>

        </div>

        </div>
      </div>
    </div>

    <div class="feature">
      <div class="container">
        <h1>Your site is available everywhere</h1>
        <p>Start working on one device, and pick up where you left off on another device.</p>
      </div>
    </div>

