/*
 * /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Import font styling from style.css */
 @import "style";

 html, body {
     /* background-image:url(https://content.codecademy.com/projects/bolt-network/diagmonds_@2X.png); */
     /* background-image:url("<%= image_tag('bg_dark_pattern1.jpg') %>"); */
     /* background: url("<%= image_tag('bg_dark_pattern1.jpg') %>"); */
     background-image:url('/images/bg_dark_pattern1.jpg');
     background-size:141px 142px;
     font-family:"Roboto";
     font-weight:300;
     margin: 0;
     padding: 0;
 }

 @media (min-width: 1200px) {
     .container {
         width: 970px;
     }
 }

 /* Header */
 .header {
     color:#fff;
     /* color:#00b3b3; */
     text-align: left;

 }

 .header ul {
     list-style: none;
 }

 .header li {
     display: inline;
     margin-right: 30px;
 }

 .header a {
     color: #afeeee;
     /* display: flex; */
     /* justify-content: space-around; */ /* aligns the items horizontally */
     /* align-items: center; */ /* aligns the items vertically */
     padding-left: 1px;
     padding-right: 1px;
     /* text-decoration: underline; */
 }

 .row--logo {
     display: table; /* table display*/
     height: 6vh;
     width: 15%;
     border: 1px solid #afeeee;
 }

 .logo--icon {
     display: table-cell; /* table-cell display*/
     vertical-align: middle; /* vertical align*/
     /* text-align: center; */
 }

 .logo--text{
     display: table-cell; /* table-cell display*/
     vertical-align: middle; /* vertical align*/
     text-align: center;
 }

 .row--banner {
     display: flex;
     height: 30px;
     background-color: #333;
     color: #fff;
     justify-content: center; /* aligns the items horizontally */
     align-items: center; /* aligns the items vertically */
 }


 /* Navbar */
 .navbar {
     color:#fff;
     /* color:#00b3b3; */

 }

 .navbar ul {
     list-style: none;
 }

 .navbar li {
     display: inline;
     margin-right: 30px;
 }

 .navbar a {
     color: #ff8c00;
     padding-left: 1px;
     padding-right: 1px;
     /* text-decoration: underline; */
 }


 /* Jumbotron */
 .jumbotron {
     background-color: #000;
     height:600px;
 }

 .jumbotron h1 {
     color:#fff;
     font-weight:300;
     margin-top:80px;
     margin-bottom:40px;
 }

 .jumbotron .btn {
     color:#0393ff;
     background:transparent;
     border:1px solid #0393ff;
     border-radius:2px;
     padding:8px 20px;
 }

 .jumbotron .btn:hover {
     color:#fff;
     background-color:#0393ff;
 }

 form {
     margin-top:80px;
 }

 #search {
 background:transparent;
 border:0px;
 border-radius:0;
 border-bottom:1px solid #fff;
 color:#fff;
 font-size:18px;
 margin:0 20px;
 }

 #search:hover {
 border-bottom:1px solid #0393ff;
 }

 #search:focus {
 border-bottom:1px solid #0393ff;
 box-shadow:0px 0px 0px;
 outline:0px;
 }

 /* Supporting */
 .main,
.supporting h2,
.supporting p,
.feature {
    text-align: center;
    color:#fff;
}

.supporting {
    padding-bottom:80px;
}

.supporting h2, .feature h1 {
    color:#0393ff;
    margin-top:60px;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight:300;
}

.supporting p {
    margin-bottom: 45px;
    font-size: 16px;
}

.supporting .thumbnail {
    background:transparent;
    border: none;
    padding: 0;
}

.supporting .thumbnail img {
    width: 100%;
    height: auto;
}

/* Feature */
.feature {
    background: url(https://content.codecademy.com/projects/bolt-network/feature.jpg) no-repeat center center;
    background-size: cover;
    height: 380px;
    padding: 100px 0 0 0;
}

.feature p {
    font-size:18px;
}

.footer {
    background:#000;
    padding:60px 0;
}

.footer h3 {
    color:#fff;
    font-size:18px;
    font-weight:300;
}

.footer ul {
    color:#0393ff;
    list-style:none;
    padding-left:0px;
}
