@font-face {
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  src: url(fonts/RobotoMono-VariableFont_wght.ttf) format('truetype'),

}

@font-face {
  font-family: 'Roboto Mono', monospace;
  font-style: italic;
  src: url(fonts/RobotoMono-Italic-VariableFont_wght.ttf) format('truetype'),

}

@font-face {
  font-family: 'Roboto Mono', monospace;
  font-style: thin;
  font-weight: 100;
  src: url(fonts/static/RobotoMono-Thin.ttf) format('truetype'),
}

@font-face {
  font-family: 'Roboto Mono', monospace;
  font-style: light;
  font-weight: 300;
  src: url(fonts/static/RobotoMono-Light.ttf) format('truetype'),
}

@font-face {
  font-family: 'Roboto Mono', monospace;
  font-style: medium;
  font-weight: 500;
  src: url(fonts/static/RobotoMono-Medium.ttf) format('truetype'),
}

@font-face {
  font-family: 'Roboto Mono', monospace;
  font-style: medium;
  font-weight: 500;
  src: url(fonts/static/RobotoMono-Bold.ttf) format('truetype'),
}

h1, p {
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-family: 'Roboto Mono', monospace;
  font-style: bold;
  font-weight: 700;
}
