<div class="navbar">
  <div class="row">
    <tr>
    <div class="col">
      <td>
      <div class="col-md-2">
        <td>
          <%= link_to 'Welcome', root_path %>
          <%# = link_to 'Home', root_path %>
        </td>
        <td>
          <a href="#">Pragmatic Design</a>  <%# = link_to 'Contact', contact_path %>
        </td>
        <td>
          <a href="#">UX</a>  <%# = link_to 'UX', ux_path %>
        </td>
        <td>
          <a href="#">Data Design</a>  <%# = link_to 'Data_Design', data_storage_path %>
        </td>
        <td>
          <a href="#">Backend: RoR</a>  <%# = link_to 'Backend', backend_path %>
        </td>
        <td>
          <a href="#">Frontend: InertiaJS/React</a>  <%# = link_to 'Frontend', frontend_path %>
        </td>
        <td>
          <a href="#">About</a>  <%# = link_to 'About', about_path %>
        </td>
        <td>
          <a href="#">Contact</a>  <%# = link_to 'Contact', contact_path %>
        </td>
      </div>
    </div>
    </tr>
  </div>
</div>
